.parent{
    position: relative;
}



.jan{
    position: absolute;
    bottom: 190px;
    left: 20px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 10%;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left:  10px;
    padding-right:  10px;

}

.blog-a,.b-a{
    color: black;
    text-decoration: none;
    font-style: italic;
}
.blog-a:hover,.b-a:hover{
    color: red;
}
.b-2{
    background-color: #FBF9FF;
}

@media (min-width:768px) {
    .jan{
        position: absolute;
        bottom: 125px;
        left: 20px;
        background-color: red;
        color: white;
        border: none;
        border-radius: 10%;
        border-radius: 10%;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left:  15px;
    padding-right:  15px;
    }
}